{{- if eq .chezmoi.os "windows" -}}
[".local/bin/busybox64u.exe"]
	type = "file"
	url = "https://frippery.org/files/busybox/busybox64u.exe"
[".local/bin/pueue.exe"]
	type = "file"
	url = {{ gitHubLatestReleaseAssetURL "Nukesor/pueue" "pueue-x86_64-pc-windows-msvc.exe" | quote }}
[".local/bin/pueued.exe"]
	type = "file"
	url = {{ gitHubLatestReleaseAssetURL "Nukesor/pueue" "pueued-x86_64-pc-windows-msvc.exe" | quote }}
[".opt/git"]
	type = "archive"
	url = {{ gitHubLatestReleaseAssetURL "git-for-windows/git" "MinGit-*-busybox-64-bit.zip" | quote }}
{{- end }}