# .chezmoi.toml
encryption = "age"
[age]
    identity = "~/.secrets/chezmoi_age.txt"
    recipients = [
		"age103fjw05y6vp94ugpxcphkseuf4z4avcyn8hk5p8yuzlevglwja8s038pa2",
		"age16kar0688jpv39hmw6z3mvdrfvfs5tk8uw7zepqts9gz6ump8l5ysye2d9x",
	]
{{- $email := promptStringOnce . "email" "Email address" }}
[data]
    email = {{ $email | quote }}
[data.versions]
	rclone = "v1.71.0"
	syncthing = "v2.0.7"

