README.md

# Linux
{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

# Windows
.chezmoiscripts/windows/assets/** # Only used by the other scripts in .chezmoiscripts/windows/**
{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
{{ end }}
