[user]
	email = {{ .email }}
	name = Peter Schwier
[credential "https://github.com/peter-schwier/dotfiles.git"]
	username = "peter-schwier"
	helper = "!f() { test \"$1\" = get && echo \"password=$(cat $HOME/.secrets/chezmoi_github.txt)\"; }; f"
