{{ if eq .chezmoi.osRelease.id "bazzite" }}
[user]
	email = {{ .email }}
	name = Peter Schwier
[credential "https://github.com/peter-schwier/dotfiles.git"]
	username = "peter-schwier"
	helper = "!f() { test \"$1\" = get && echo \"password=$(chezmoi decrypt {{ joinPath .chezmoi.sourceDir "dot_secrets/encrypted_chezmoi_github.txt.age"}})\"; }; f"
{{ else }}
{{ end }}
