#
# ~/.bash_profile
#

{{ template "script_test.sh" "~/.bash_profile" }}

# REF: https://www.gnu.org/software/bash/manual/bash.html#Invoked-as-an-interactive-login-shell_002c-or-with-_002d_002dlogin
# When Bash is invoked as an interactive login shell, or as a non-interactive shell with the --login option, it first reads and executes commands from the file /etc/profile, if that file exists. After reading that file, it looks for ~/.bash_profile, ~/.bash_login, and ~/.profile, in that order, and reads and executes commands from the first one that exists and is readable. The --noprofile option inhibits this behavior. 
[[ -f "${XDG_CONFIG_HOME:-$HOME/.config}/bash/env.bash" ]] && source "${XDG_CONFIG_HOME:-$HOME/.config}/bash/env.bash"
[[ -f "${XDG_CONFIG_HOME:-$HOME/.config}/bash/login.bash" ]] && source "${XDG_CONFIG_HOME:-$HOME/.config}/bash/login.bash"

# REF: https://www.gnu.org/software/bash/manual/bash.html#Invoked-as-an-interactive-non_002dlogin-shell
# When Bash runs as an interactive shell that is not a login shell, it reads and executes commands from ~/.bashrc, if that file exists. The --norc option inhibits this behavior. The --rcfile file option causes Bash to use file instead of ~/.bashrc.
# So, typically, your ~/.bash_profile contains the line
#     if [ -f ~/.bashrc ]; then . ~/.bashrc; fi
# after (or before) any login-specific initializations. 
[[ $- == *i* ]] && [[ -f "${XDG_CONFIG_HOME:-$HOME/.config}/bash/interactive.bash" ]] && source "${XDG_CONFIG_HOME:-$HOME/.config}/bash/interactive.bash"

# REF: https://www.gnu.org/software/bash/manual/bash.html#Invoked-non_002dinteractively
# When Bash is started non-interactively, to run a shell script, for example, it looks for the variable BASH_ENV in the environment, expands its value if it appears there, and uses the expanded value as the name of a file to read and execute. Bash behaves as if the following command were executed:
#    if [ -n "$BASH_ENV" ]; then . "$BASH_ENV"; fi
# but does not the value of the PATH variable to search for the filename.
# As noted above, if a non-interactive shell is invoked with the --login option, Bash attempts to read and execute commands from the login shell startup files.
export ENV="$HOME/.shenv"
export BASH_ENV="$HOME/.bashenv"

