#
# ~/.bashrc
#

# REF: https://www.gnu.org/software/bash/manual/bash.html#Invoked-as-an-interactive-non_002dlogin-shell
# When Bash runs as an interactive shell that is not a login shell, it reads and executes commands from ~/.bashrc, if that file exists. The --norc option inhibits this behavior. The --rcfile file option causes Bash to use file instead of ~/.bashrc.
# So, typically, your ~/.bash_profile contains the line
#     if [ -f ~/.bashrc ]; then . ~/.bashrc; fi
# after (or before) any login-specific initializations. 
[[ -f "${XDG_CONFIG_HOME:-$HOME/.config}/bash/env.bash" ]] && source "${XDG_CONFIG_HOME:-$HOME/.config}/bash/env.bash"
[[ $- == *i* ]] && [[ -f "${XDG_CONFIG_HOME:-$HOME/.config}/bash/interactive.bash" ]] && source "${XDG_CONFIG_HOME:-$HOME/.config}/bash/interactive.bash"

