#
# ~/.bashenv
#

{{ template "script_test.sh" "~/.bashenv" }}

# REF: https://www.gnu.org/software/bash/manual/bash.html#Invoked-non_002dinteractively
# When Bash is started non-interactively, to run a shell script, for example, it looks for the variable BASH_ENV in the environment, expands its value if it appears there, and uses the expanded value as the name of a file to read and execute. Bash behaves as if the following command were executed:
#    if [ -n "$BASH_ENV" ]; then . "$BASH_ENV"; fi
# but does not the value of the PATH variable to search for the filename.
# As noted above, if a non-interactive shell is invoked with the --login option, Bash attempts to read and execute commands from the login shell startup files.
[[ -f "${XDG_CONFIG_HOME:-$HOME/.config}/bash/env.bash" ]] && source "${XDG_CONFIG_HOME:-$HOME/.config}/bash/env.bash"
