#! /bin/bash

{{ template "script_test.sh" "~/.config/bash/interactive.bash" }}

[ -f "${XDG_CONFIG_HOME:-$HOME/.config}/sh/interactive.sh" ] && source "${XDG_CONFIG_HOME:-$HOME/.config}/sh/interactive.sh"

{{ completion "bash" }}