[gdrive]
type = drive
scope = drive
service_account_file = ~/.config/rclone/peters-productivity-833a0f02ea96.json
team_drive = 
impersonate = peter@schwier.us

[crypt]
type = crypt
remote = gdrive:Crypt
password = {{ joinPath .chezmoi.sourceDir "dot_config/rclone/.crypt-password.age" | include | decrypt }}

[Local]
type = combine
upstreams = {{ list
    " Data.Applications=" (joinPath .chezmoi.homeDir "Syncthing/Data.Applications")
    " Data.KeePass=" (joinPath .chezmoi.homeDir "Syncthing/Data.KeePass")
    " Data.Personal=" (joinPath .chezmoi.homeDir "Syncthing/Data.Personal")
    | join "" | trim
}}

